<%-include ('header',{pageTitle: "Kereses | Árukereső"})%>
    <section>
      <h1>Találatok a "<span><%= keresett %></span>" keresésre</h1>
      <div class="table-container">
        <table>
          <tr>
            <th>Áruház</th>
            <th>Cím</th>
            <th>Telefonszám</th>
            <th>Email</th>
            <th>Parkolás</th>
            <th>Nyitvatartás</th>
            <th>Termék neve</th>
            <th>Termék ára (Ft)</th>
          </tr>
          <% termekek.forEach(termek => { %>
            <tr>
              <td><a href="/aruhazak/id/<%= termek.aruhaz._id %>"><%= termek.aruhaz.name %></a></td>
              <td><%= termek.aruhaz.address %></td>
              <td><%= termek.aruhaz.phone %></td>
              <td><%= termek.aruhaz.email %></td>
              <td><%= termek.aruhaz.parking %></td>
              <td><%= termek.aruhaz.opening_hours %></td>
              <td><%= termek.name %></td>
              <td><%= termek.price %></td>
            </tr>
            <% }); %>
        </table>
      </div>
      <div class="input-wrap">
        <form class="input-wrap" method="get" action="/kereses">
          <input name="keresett" type="text" class="searchTerm" placeholder="pl.: csirkemell.." />
          <button type="submit" class="searchButton">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
              </svg></button>
            </form>
      </div>
      <div class="button-container">
        <a class="link" href="/"
          ><button type="submit" class="submitButton">Vissza</button></a
        >
      </div>
    </section>
<%-include ('footer')%>
<style>
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  span {
    font-weight: bold;
  }
  body {
    background-color: #f1f1f1;
    font-family: var(--text);
    font-size: 16px;
    color: var(--darkColor);
    overflow: hidden;
  }
  section {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .table-container {
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    margin: 70px auto;
  }
  table {
    margin: 0 auto;
  }
  th {
    border: 1px solid var(--darkColor);
    background-color: var(--lightGray);
    color: var(--darkColor);
    padding: 10px;
  }
  td {
    border: 1px solid var(--darkColor);
    background-color: var(--bgColor);
    padding: 10px;
    text-align: right;
    width: fit-content;
  }
  .input-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .search {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .searchTerm {
    width: 100%;
    border: 3px solid var(--lightBlue);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
  }

  .searchTerm:focus {
    color: var(--lightBlue);
  }

  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid var(--lightBlue);
    background: var(--lightBlue);
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  .searchButton:hover {
    background: var(--darkBlue);
  }
  .link {
    text-decoration: none;
    padding: 10px 14px;
    height: fit-content;
    border-radius: 5px;
    width: fit-content;
  }
  .button-container {
    margin-top: 40px;
  }
  .submitButton {
    background-color: var(--darkBlue);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 14px;
    height: fit-content;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .submitButton:hover {
    background-color: var(--darkBlue);
  }
</style>
