<%- include ('header', {pageTitle:"Áruház Szerkesztése | Árukereső"}) %>
    <section>
        <div class="form">
            <h2 class="subtitle"><%= aruhaz.name %> áruház szerkesztése</h2>
            <form class="loginForm" method="POST" action="/aruhazak/edit/id/<%= aruhaz._id%>">
                <input type="text" placeholder="<%= aruhaz.name %>" name="name"/>
                <input type="text" placeholder="<%= aruhaz.address %>" name="address"/>
                <input type="text" placeholder="<%= aruhaz.phone %>" name="phone"/>
                <input type="text" placeholder="<%= aruhaz.email %>" name="email"/>
                <input type="text" placeholder="<%= aruhaz.opening_hours %>" name="opening_hours"/>
                <div class="checkbox-container">
                    <label for="parking">Parkolás:</label>
                    <input checked="" type="checkbox" id="cbx" class="hidden-xs-up" name="parking">
                    <label for="cbx" class="cbx"></label>
                  </div>
                <div class="button-container">
                    <button type="submit" class="addButton">Hozzáadás</button>
                    <a href="/aruhazak" class="buttonLink"><button class="backButton" type="button">Vissza</button></a>
                </div>
            </form>
        </div>
    </section>
<%- include ('footer') %>
<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    .cbx {
 position: relative;
 top: 1px;
 width: 18px;
 height: 18px;
 border: 1px solid #c8ccd4;
 border-radius: 3px;
 transition: background 0.1s ease;
 cursor: pointer;
 display: block;
}
.cbx:after {
 content: '';
 position: absolute;
 top: 2px;
 left: 6px;
 width: 5px;
 height: 10px;
 opacity: 0;
 transform: rotate(45deg) scale(0);
 border-right: 2px solid #fff;
 border-bottom: 2px solid #fff;
 transition: all 0.3s ease;
 transition-delay: 0.15s;
}

.lbl {
 margin-left: 5px;
 vertical-align: middle;
 cursor: pointer;
}

#cbx:checked ~ .cbx {
 border-color: transparent;
 background: var(--lightBlue);
 animation: jelly 0.6s ease;
}

#cbx:checked ~ .cbx:after {
 opacity: 1;
 transform: rotate(45deg) scale(1);
}

@keyframes jelly {
 from {
  transform: scale(1, 1);
 }

 30% {
  transform: scale(1.25, 0.75);
 }

 40% {
  transform: scale(0.75, 1.25);
 }

 50% {
  transform: scale(1.15, 0.85);
 }

 65% {
  transform: scale(0.95, 1.05);
 }

 75% {
  transform: scale(1.05, 0.95);
 }

 to {
  transform: scale(1, 1);
 }
}

.hidden-xs-up {
 display: none!important;
}

  .checkbox-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 0 0 40px;
  }
    body {
        background-color: var(--bgColor);
        font-family: var(--text);
        font-size: 16px;
        color: var(--darkColor);
        overflow: hidden;
    }

    section {
        width: 100%;
        max-width: 1200px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: white;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .subtitle {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        margin: 0 auto 50px auto;
    }

    .form input {
        font-family: 'Open Sans', sans-serif;
        outline: 0;
        background: var(--bgColor);
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .addButton {
        font-family: 'Open Sans', sans-serif;
        background: var(--lightBlue);
        border: none;
        border-radius: 5px;
        width: 100px;
        padding: 15px;
        color: white;
        font-size: 14px;
        transition: all 0.4 ease;
        cursor: pointer;
    }

    .addButton:hover {
        background: var(--darkBlue);
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        gap: 20px;
    }

    .buttonLink {
        width: fit-content;
        height: fit-content;
        text-decoration: none;
    }

    .backButton {
        font-family: var(--text);
        width: 100px;
        border: 1px solid var(--lightBlue);
        border-radius: 5px;
        background: transparent;
        transition: all 0.3 ease;
        padding: 15px;
        cursor: pointer;
        color: var(--lightBlue);
    }

    .backButton:hover {
        background: var(--darkBlue);
        color: var(--bgColor);
        border: 1px solid var(--darkBlue);
    }

    .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
    }
</style>